.App {
    float: left;
    text-align: center;
}

::-webkit-scrollbar {
    width: 1px;
}

.dfddfvdfv {
    overflow-x: auto;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

body {
    font-family: 'Roboto', sans-serif;
}

.fdhvd {
    margin-left: -30px;
    padding-left: 0px;
}

.fdgfgd {
    padding: 0px;
}

body {
    background-color: #2C3A44;
}

.gsdg {
    float: left;
    width: 40%;
}

.jgjgh {
    padding-left: 0px;
    float: left;
    width: 60%;
}

.ghfhgd {
    width: 100%;
}
