* {
    margin: 0px;
    padding: 0px;
}

.tabstyle {
    font-size: 13px;
    width: 25%;
    height: 60px;
}

.tab-to .tabstyle a {
    color: #788793;
}

.dvsdvsdv {
    width: 131px;
}

.them {
    width: 150px;

}

.noh71 {
    width: 25%;
}

.noh72 {
    width: 25%;
}

.noh73 {
    width: 30%;
}

.noh74 {
    width: 20%;
}

.tab-to {
    text-align: center;
    width: 100%;
    background-color: #435461;
}

.nav-tabs .nav-link.active {
    background-color: #435461;
    color: #B8E986;
    border-bottom: 2px solid #B8E986;
    border-top: none;
    border-right: none;
    border-left: none;
}

.tab-to .tabstyle a {
    border: none;

}

.style-anh {
    width: 26px;
    height: 26px;
}

/* STYLE CƯỢC GẦN ĐÂY */

.nav02 {
    width: 25%;
    height: 30px;
    font-size: 12px;
}

.nav02:hover {
    width: 25%;
    height: 30px;
    font-size: 12px;
}

#solanthang {
    padding: 0px;
}

.sty-leback {
    text-align: center;
    width: 100%;
    background-color: #34434D;
}

.huduf1 {
    width: 25%;
}

.huduf2 {
    width: 25%;
}

.huduf3 {
    width: 25%;
}

.huduf4 {
    width: 25%;
}

.dgfdsf {
    width: 540px;
}



.dgfdsf {
    padding: 0px;

}

.nav-tabs2 .nav-link.active {
    color: #B8E986;
}

.themchut {
    width: 131px;
}

.nav02 a {
    color: #788793;
}

.back-02 {

    background-color: #2C3A44;
}

.style-ul009 {
    float: left;
    list-style-type: none;
}

.style-ul010 {
    margin-bottom: -43px;
    margin-top: 12px;
}

.ul10 {
    margin-left: 24px;
}

.style-divclass {

    height: 50px;
    background-color: #34434D;
}

.style-her {
    margin-bottom: -8px;
}



.solanthang {
    padding-bottom: 34px;
    text-align: center;
    font-size: 12px;
    background-color: #34434D;
    width: 33%;
    height: 26px;
}

.nav-tabs3 {}

.nav-tabs3 .nav-link.active {
    text-align: center;
    background-color: #435461;
    color: white;
}

.solanthang a {
    color: #788793;
}

.sty-icon01 {
    margin-bottom: -7px;
    margin-top: 8px;
    float: left;
}

.sty-0p {
    margin-left: 34px;
    margin-top: -18px;
    margin-bottom: -12px;
}

.chiaphan01 {
    width: 30%;
}

.chiaphan02 {
    width: 30%;
}

.chiaphan03 {
    width: 30%;
}

.chiaphan04 {
    margin-top: 1px;
    width: 10%;
}

.cuatao02 {
    width: 100%;
}

.uvong-001 {
    border-radius: 4px;
    background: rgb(52, 67, 77);
    width: 88px;
    height: 23px;
    float: left;
}

.uvong-002 {
    border-radius: 4px;
    background: rgb(52, 67, 77);
    width: 88px;
    height: 23px;
    float: right;
}

.uvuong01 {
    margin-top: 15px;
    margin-right: 167px;
    margin-left: 61%;
}

.uvuong02 {
    /* float: right; */
    margin-top: -10%;
    margin-right: 167px;
    margin-bottom: -60px;
    margin-left: 21%;
}

.border-uvong {
    border: 5px;
}

.style-col-dau {
    border-radius: 15px;
    background: linear-gradient(rgb(69, 86, 100) 0%, rgb(63, 81, 93) 100%);
    padding-bottom: 15px;
}

.btn-bk {
    color: wheat;
    background: linear-gradient(rgb(69, 86, 100) 0%, rgb(63, 81, 93) 100%);
}

.btn-bk:hover {
    color: wheat;
}

.style-fass {
    float: left;
}

.sty-infor {
    font-size: 12px;
    margin-left: 5px;
    padding-right: 77px;
}

.clear {
    clear: both;
}

.sty-dat {
    text-align: left;
    float: left;
}

.sty-sodat {
    text-align: right;
}

.styl-9 {
    line-height: 9px;
}

.style-upload {
    font-size: 13px;
    text-align: left;
}

.oh-them {
    color: wheat;
}

.them-ngay {
    text-align: left;
}

.chiaphan001 {
    width: 30%;
}

.chiaphan002 {
    width: 30%;
}

.chiaphan003 {
    width: 30%;
}

.chiaphan004 {
    width: 10%;
}

.xacthuc {
    font-size: 13px;
    width: 91%;
    margin-right: 17px;
    margin-top: 13px;
    height: 31px;
    text-align: center;
    margin-bottom: 3px;
}

.i-con-f {
    color: darkgray;
    font-size: 33px;
    margin: 6px;
}

.i-fo-02 {
    padding-right: 23px;
}

.nguoichoi {
    font-size: 12px;
    text-align: left;
}

.diem {
    font-size: 12px;
    text-align: right;
}

.style-so1 {
    float: left;
    width: 35px;
    height: 35px;
}

.sty-395 {
    margin-bottom: 2px;
    font-size: 14px;
}

.sty-396 {
    margin-bottom: -10px;
    margin-left: 35px;
    color: wheat;
}

.hgh {
    margin-top: -8px;
}

.sty-str {
    border-radius: 5px;
    background: linear-gradient(rgb(60, 76, 87) 0%, rgb(58, 74, 85) 100%);
}

.diem02 {
    text-align: right;
}

.hfdss {
    margin-bottom: 0px;
}

.hfha47 {
    border: 1px;
}

.shd74 {
    float: left;
}

/* .hgh {
    height: 35px;
    width: 35px;
    background-image: url('./Img/so4.png');
} */

.hh03 {
    margin-top: 10px;
    float: left;
    font-size: 23px;
    color: #5C6C7A;
}

.chh {
    margin-left: -17px;
    margin-top: 13px;
    float: left;
}

.ungh {
    margin-left: 12px;
}

.ung75 {
    width: 33%;
}

.ung75:hover {
    width: 33%;
}

.ung76 {
    width: 33%;
}

.ung76:hover {
    width: 33%;
}

.ung77 {
    width: 33%;
}

.ung77:hover {
    width: 33%;
}

.hfugng {

    width: 230px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.unbhf8 {
    width: 50px;
    height: 50px;
    float: left;
}

.onko {

    border-radius: 8px;
    background-color: darkslategrey;
    width: 33px;
    height: 43px;
    float: left;
}

.ongu {
    text-align: center;
    font-size: 25px;
    color: white;
    height: 567px;
    background-color: #2C3A44;
}

.ok90 {
    width: 20px;
    height: 22px;
    float: left;
    background-color: none;
}

.unghsye {
    margin-left: 30px;
    margin-top: 10px;
    float: left;
    font-size: 16px;
}

.dghur {
    background-color: #6B7478
}

.dghur:hover {
    color: wheat;
}

.unkso {
    margin-right: 39px;
    float: right;
}

.husd {
    margin-right: 5px;
}

.kukgonfhe {
    background-color: #2C3A44;

    height: 112px;
}

.ukgofnfhe {
    margin-left: 19px;
    margin-top: 14px;
    border-radius: 8px;
    background-color: darkslategrey;

    height: 112px;
}

.unbhf43 {

    width: 50px;
    height: 50px;
    float: left;
    margin-top: 14px;
    margin-left: 16px;
}

.e54sd {
    margin-top: 8px;
    float: left;
}

.fugd {
    width: 34px;
    height: 34px;
    float: left;
}

.hehe {
    color: wheat;
    text-align: left;
    list-style: none;
}

.ungu74 {
    color: wheat;
    padding-top: 14px;
    text-align: left;
}

.u7423 {
    color: wheat;
    font-size: 15px;
    width: 130px;
    height: 36px;
    margin-top: -33px;
    float: right;
    margin-right: 28px;
}

.u789 {
    margin-top: 20px;
}

.hguf {
    margin-top: 20px;

    height: 76px;
    background-color: #34434D;
    padding: 10px;
}

.mhus89 {
    float: left;

    height: 50px;
}

.ughd {
    padding-top: 28px;
}

.ung89 {
    margin-top: 27px;
}

.okihk {
    cursor: no-drop;
    margin-top: -58px;
}

.ughte {

    float: left;
    width: 26px;
    height: 26px;
}

.gfgdf {
    padding-left: 255px;
    width: 79px;
    height: 30px;
    margin-top: -52px;
}

.fhf {
    margin-right: 193px;
}

.ugng8 {
    color: white;
}

.hgy {
    margin-top: -35px;
}

.ughfns {

    width: 120px;
    height: 130px;
    margin-top: 3%;
}

.fghu p b {
    margin-left: -7%;
    color: #788793;
}

.fghu {
    padding-bottom: 100px;
    margin-left: 43%;
    margin-top: 4%;
}

.ughfn3a {
    margin-top: 8%;
    width: 80px;
    height: 80px;
}

.ughfnvk {
    margin-top: 4%;

    margin: 0px auto;
}

.ghhhh3 {
    /* margin-right: 20px; */
    margin-top: 5%;
    font-size: 15px;
    color: #788793;
    text-align: center;
}

.okiunh a {
    text-decoration: none;
}

#doitaclienket {
    height: 1300px;
}

.vewfwhe {
    margin-left: 8px;
    color: white;
}

.reye {
    border-top: 1px solid #788793;
}

.hguy {
    color: #788793;
    font-size: 24px;
}

.hgjd {

    margin-top: 10px;
}

.fugdfu {

    margin-top: 31px;
    color: wheat;
    font-size: 25px;
}

.ffg {
    margin: 0px auto;
    border-radius: 10px;
    background: rgb(52, 67, 77);
    width: 275px;
    height: 146px;
}

.uhg {
    float: left;
    width: 50px;
    height: 50px;
}

.kongd {
    font-size: 36px;
    float: right;
}

.nhud {
    margin-left: 71px;
    padding-top: 17px;
    color: white;
    width: 121px;
}

.rfgfg {
    margin-top: 83px;
}

.olkgu {
    text-align: center;
    color: white;
}

.uhfd {
    color: white;
    background: rgb(52, 67, 77);
    width: 269px;
    cursor: no-drop;
}

.uhfd:hover {
    color: white;
    background: rgb(52, 67, 77);
    width: 269px;
    cursor: no-drop;
}

.fydy {
    margin-top: 105px;
}

.ughyd {
    font-size: 21px;
    text-align: left;
    color: white;
}

.yfvvb {
    text-align: left;
    color: rgb(145, 165, 176);
}

.uyyyyy {

    color: wheat;
}

.okkkk {
    font-size: 13px;
    color: rgb(145, 165, 176);
    height: 180px;
}

.okkkk2 {
    font-size: 13px;
    color: rgb(145, 165, 176);
    height: 180px;
}

.kongh {
    color: white;
    margin-left: 145px;
}

/* .olkm {
    background: rgb(44, 58, 68);
} */
.okuh {
    background: rgb(44, 58, 68);
}

.unput {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(60, 76, 87);
    background: rgb(52, 67, 77);
}

.unput:hover {

    border-width: 1px;
    border-style: solid;
    border-color: rgb(60, 76, 87);
    background: rgb(52, 67, 77);
}

.form-control.active {
    background: rgb(52, 67, 77);
}

.hfhss1 {
    color: #91A5B0;
}

.hfhss1:hover {
    color: white;
}

.hfhss2 {
    color: #B8E986
}

.hfhss2:hover {
    color: #B8E986
}

.okdhad {
    color: wheat;
    border: dotted;
    width: 494px;
}

.hguf99 {

    width: 120px;
    height: 130px;

}

.hdfbdf {

    font-size: 16px;
    color: #91A5B0;
}

#lichsu2 {
    text-align: center;
}

.dhfshd {
    margin-left: 11px;
    color: wheat;
    border-radius: 9px;
    margin-top: 29px;
    background-color: #34434D;
    margin-right: 11px;
}

.fhdfh {
    border-left: solid 1px black;
}

.fh734 {
    margin-top: 12px;
}

#taikhoan {
    height: 800px;
}

.dhshf {
    width: 140px;
    height: 140px;
}

.fdfdf {
    margin-top: 37px;
}

.ewgwgf {
    margin: 0px auto;
    background-color: #34434D;
    font-size: 21px;
    color: #B8E986;
    border-radius: 14px;

    width: 180px;
    height: 54px;
    margin-top: 30px;
}

.fhs {
    padding-top: 10px;
    margin-top: 10px;
}

.dsfgsd {
    margin: 0px auto;
    margin-top: 40px;
    border-radius: 9px;
    background-color: #34434D;
    width: 480px;
    height: 50px;
}

.hhdf {
    float: left;
    font-size: 21px;
    color: darkgray;
    margin-left: 14px;
    margin-top: 14px;
}

.dfhg {
    font-size: 16px;
}

.sdg {
    margin-top: 20px;
}

.dshd {
    margin-left: -80px;
    margin-top: 3%;
    float: left;
    background-color: #34434D;
    color: darkgray;
    width: 235px;
}

.dshd:hover {
    margin-top: 23px;


    background-color: #34434D;
    color: darkgray;
    width: 235px;
}

.dshdhf {
    width: 120px;
    height: 130px;
}

.dhsds {

    margin-top: 50px;
}

.ffrefe {

    color: darkgray;
}

.sgvgs {

    margin-top: 50px;
    width: 80px;
    height: 80px;
}

.hhsfsdf {

    margin-top: 30px;
    font-size: 14px;
    color: #91A5B0;

}

.dsdfs {

    margin-top: 44px;
    line-height: 3px;
    font-size: 14px;
    color: #91A5B0;
    float: left;
}

.sdvsdv {
    background-color: #34434D;
    width: 480px;
    height: 64px;
    float: left;
}

.adsa {
    float: left;
    margin-left: 15px;
}

.ddfbd434f {
    margin-top: 12px;
    margin-left: 15px;
    float: left;
}

.hfhdfddfdgdf {
    padding-top: 29px;
    padding-right: 152px;
}

.fhsdh {
    margin-top: 175px;
    border: 1px solid;
}

.dsstew1 {
    margin: 0px auto;
    margin-top: 47px;
    background-color: #34434D;
    width: 480px;
    height: 107px;
}

.dsstew2 {
    margin: 0px auto;
    border-top: 1px solid;
    background-color: #34434D;
    width: 480px;
    height: 107px;
}

#tinhcongbang {
    text-align: center;
}

.sdgsgd2 {
    margin-left: 19px;
    margin-top: 18px;
    float: left;
    color: #91A5B0;
}

.sdgssdcsgd3 {
    color: white;
    font-size: 12px;
    float: left;
    margin-top: -2px;
    margin-left: 21px
}

#hoatdong {
    text-align: center;
    padding: 0px;
}

#cuocganday {
    padding: 0px;
}

#diemnoibat {
    padding: 0px;
}

#cao {
    padding: 0px;
}

#cuoccuatoi {
    padding: 0px;
}

#bangxephang {
    padding: 0px;
}

#hangngay {
    padding: 0px;
}

#hangtuan {
    padding: 0px;
}

#hangthang {
    padding: 0px;
}

#tienthuong {
    padding: 0px;
}

#lichsu {
    padding: 0px;
}

#doitaclienket {
    padding: 0px;
}

#lichsu2 {
    padding: 0px;
}

#taikhoan {
    padding: 0px;
}

#thongbao {
    text-align: center;
    padding: 0px;
}

#tinhcongbang {
    padding: 0px;
}

#hiemco {
    padding: 0px;
}

#hfugng {
    margin-top: 39px;
    width: 230px;
    height: 150px;
    margin-left: 128px;
    margin-bottom: 39px;
}

.mai00 {
    margin-left: 8px;
}

.clear {
    clear: both;
}

#danhsach {
    padding-bottom: 23px;
}

#hoso {
    text-align: center;
}

#bangdieukhien {
    text-align: center;
}

#chiendich2 {
    margin-top: 2px;
    text-align: center;
}
