* {
    margin: 0px;
    padding: 0px;
}

.vhdfhvd74 {
    height: auto;
    overflow-x: scroll;
    float: left;
    background-color: #34434E;
}

.fdbdfbdf43 {
    height: 59px;
}

.fggf {
    margin-top: 5px;
    float: left;
    background-color: #2C3A44;
    border-radius: 6px;
    width: 460px;
    height: 48px;
    margin-left: 11px;
}

.hdvhdf {
    margin-top: 4px;
    width: 43px;
    height: 43px;
    float: left;
    margin-left: 9px;
}

.hdfhd {
    float: left;
    margin-top: 11px;
    font-size: 19px;
    color: wheat;
}

.gdfgdf {
    font-size: 18px;
    color: #2C3A44;
    float: right;
    width: 155px;
    height: 42px;
    margin-top: 3px;
}

.fhhdf {
    float: left;
    margin-left: 51px;
    margin-top: 10px;
}

.dfdfvv {
    margin-top: 5px;
    width: 50px;
    height: 50px;
}

.ok00 {
    margin-top: 10px;
    color: white;
    background-color: #545B62;
}

.ok00:hover {
    margin-top: 10px;
    color: wheat;
    background-color: #545B62;
}

.fdhhv {
    margin-left: 19px;
    background-color: #545B62;
}

.dropdown-menu.show {
    background-color: #545B62;
    display: block;
}

.dsgfsfd {
    height: 100%;
    width: 100%;
}

.dshvsd .dshvsd0 {
    float: left;
    list-style: none;
}

.dshvsd .dshvsd0 a {
    text-decoration: none;
}

.dshvsd0 {
    font-size: 16px;
    padding: 20px 10px;
    margin: 0px 10px;
    width: 159px;
    height: 62px;
}



body {
    background-color: #2C3A44;
}

.ghrehghe {
    margin-right: 48px;
    font-size: 12px;
    color: #91A5B0;
    margin-top: 41px;
    margin-left: 48px;
    text-align: left;
}

.fdfbdf {
    margin-top: 29px;
    margin-left: 30px;
    margin-right: 30px;
}

.hdfhgd {
    margin-bottom: 47px;
    border-top: 1px solid;
}

.hfhdhf {
    margin-left: 183px;
    float: left;
    margin-top: -37px;
    margin-bottom: 37px;
}

.dfgdfg {
    float: left;
}

.dfgdfg a {
    margin-top: -11px;
    float: left;
    margin-left: 35px;
    color: #91A5B0;
    text-decoration: none;
}

.dfgdfg a:hover {
    color: white;
    text-decoration: none;
}

.ssdhsd {
    border: 1px solid;
    margin-top: -31px;
    background-color: #2C3A44;
    color: #91A5B0;
    width: 162px;
    font-size: 13px;
}

.ssdhsd:hover {
    margin-top: -31px;
    background-color: #2C3A44;
    color: #91A5B0;
}

.dropdown09.hover {
    background-color: #2C3A44;
}

.dropdown09 .dropdown-menu {
    border: 4px solid #3B4B56;
    background-color: #2C3A44;
}

.dropdown09 .dropdown-menu .dropdown-item {
    color: #91A5B0;
    padding-bottom: 10px;
}

.dropdown09 .dropdown-menu .dropdown-item:hover {
    color: white;
    background-color: #2C3A44;
}

.dbfb {
    border-bottom: 4px solid #3B4B56;
}

.dvfbfg {
    float: left;
    margin-left: 38px;
    margin-top: -30px;
}

.dv4sdvsd {
    font-size: 15px;
    color: #91A5B0;
    width: 234px;
    float: left;
    text-align: left;
    margin-top: -28px;
    margin-left: 10px;
}

.fdbdfbd4433 {
    font-size: 14px;
    color: #91A5B0;
    margin-top: -16px;
    margin-left: 53px;
    float: left;
}


.dhhdf54 {
    margin-top: -42px;
    margin-left: 10px;
    color: #91A5B0;
    background-color: #2C3A44;
    border: 1px solid #91A5B0;
    border-radius: 50px;
}

.dhhdf54:hover {
    border: 1px solid #91A5B0;
    border-radius: 50px;
    color: #2C3A44;
    background-color: #91A5B0;
}
